@import url("https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Rethink Sans", serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  min-height: 100vh;
}

.main {
  position: relative;
  width: 340px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 10px 16px rgba(0, 0, 0, 0.1);
}

.main::before {
  position: absolute;
  content: "";
  top: -130px;
  left: -6px;
  width: 100%;
  height: 200px;
  z-index: -1;
  transform: rotate(-10deg) scale(1.1);
  background-color: #2451e6;
}

.header {
  display: flex;
  align-items: center;
  padding: 20px;
  margin-bottom: 40px;
  color: white;
}

.header .details h3 {
  font-weight: normal;
  font-size: 17px;
}
.header .details span {
  font-size: 14px;
  color: #dbdfeb;
}

.header .image {
  width: 50px;
  height: 50px;
  border: 5px solid #6683e2;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.header .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.button {
  display: flex;
  align-items: center;
  gap: 5px;
  width: 150px;
  background-color: #2451e6;
  color: white;
  border-radius: 7px;
  cursor: pointer;
  margin: auto;
  font-weight: 600;
  font-size: 15px;
  padding: 10px 15px;
  overflow: hidden;
  z-index: 1;
  transition: 0.3s;
}

.button i {
  font-size: 22px;
}

.button:hover {
  background-color: darkslategray;
}

.menu-list {
  margin-block: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.menu-list li {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 50px;
  color: darkslategray;
  padding-inline: 20px;
  cursor: pointer;
  transition: .3s;
}

.menu-list li:hover,.main li.active{
  color: #2451e6;
}

.menu-list li i {
  font-size: 26px;
}

.menu-list li span {
  font-size: 15px;
  font-weight: 600;
}


.menu-list li::before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 100%;
  width: 2px;
  background-color: #2451e6;
  transition: .3s;
  display: none;
}


.menu-list li.active::before{
  display: block;
}
